body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 35vh;
    width: 65vw;
    resize: none;
}
.newForm {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: baseline;

    padding: 40px;
}

label{
    width: 35%;
}
.in {
    width: 45vw;

}
/* .newForm{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;   
} */


.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}